.site {
    background-color: $color__background-body;
    font-family: arial;
    color: white;
	display: grid;
    gap: 10px;
	grid-template-columns: auto;
	grid-template-areas:
        "sidebar"
		"header"
		"main"
		"footer";
}

.home::after{
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(88% 0, 100% 0%, 100% 100%, 49% 100%);
    background-color: $color__colorbackground-body-clip;
}

@media screen and (min-width: $largeur__media-tablette){
    .site {
        grid-template-columns: ($size__site-sidebar) auto;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    }
} /* fin @media tablette */

.site__header{
    grid-area: header;
    background-color: rgba($color__colorbackground-header, 0.5);
}

.site__footer{
    grid-area: footer;
    background-color: $color__colorbackground-footer;
}

.site__main{
    grid-area: main;
    background-color: rgba($color__colorbackground-main, 0.5);
}

.site__barre{
    grid-area: sidebar;
    background-color: $color__colorbackground-barre;
}