$color__background-body: #fff;
$color__colorbackground-header: rgb(171,33,33);
$color__colorbackground-barre: rgb(200, 134, 135);
$color__colorbackground-main: rgb(170, 170, 170);
$color__colorbackground-footer: rgb(21, 21, 21);

$color__link: #00f;
$color__link-visited: rgb(91, 91, 185);
$color__link-hover: #00a;
$color__background-link-hover: #aaa;