$color__background-body: #171716;
$color__colorbackground-header: rgb(131,18,18);
$color__colorbackground-barre: red;
$color__colorbackground-main: #ccc;
$color__colorbackground-footer: #333;

$color__link: #00f;
$color__link-visited: rgb(91, 91, 185);
$color__link-hover: #00a;
$color__background-link-hover: #aaa;