$color__background-body: rgb(227, 233, 236);
$color__colorbackground-header: rgb(32,41,49);
$color__colorbackground-barre: rgb(64, 75, 87);
$color__colorbackground-formation: rgb(97, 112, 128);
$color__colorbackground-main: rgb(49, 53, 48);
$color__colorbackground-body-clip: rgb(39, 29, 92);
$color__colorbackground-footer: rgb(21, 21, 21);
$color__colorbackground-recherche: rgba(255, 255, 255, 0.5);

$color__texte__recherche: rgb(202, 209, 212);
$color__texte__icones: rgb(167, 173, 181);
$color__texte__defaut: rgb(247, 247, 247);

$color__cours__bordure: rgb(244, 244, 255);
$color__cours__background: #b7b6af;
$color__cours__background-pair: #cecdc5;
$color__cours__shadow: rgba(233, 233, 233, 0.6);

$color__carte__bordure: #73726e;

/* ---------------- LIENS DEFAUT */
$color__link: #00f;
$color__link-visited: rgb(91, 91, 185);
$color__link-hover: #00a;
$color__background-link-hover: #aaa;

/* ---------------- LIENS FOOTER */
$color__link__footer: #1890ff;
$color__link__footer-visited: #096dd9;
$color__link__footer-hover: #40a9ff;

/* ---------------- LIENS HEADER */
$color__link__header : #fff;
$color__link__header-hover : rgb(165, 165, 165);
$color__link__header-visited : #fff;

$p-couleur : #fff;
$p-couleur__header : rgb(245, 245, 245);
$p-couleur__footer : rgb(209, 209, 209);