$p-taille-min : 0.8rem;
$p-taille-grossissment : 2vw;
$p-taille-max : 1.2rem;

$p-taille-min__footer : 1rem;
$p-taille-grossissment__footer : 1vw;
$p-taille-max__footer : 1.3rem;

$p-taille-min__header : 0.9rem;
$p-taille-grossissment__header : 2vw;
$p-taille-max__header : 1.3rem;