// POLICES DU SITE
/* titre principal du site */
$font__titre: 'Montserrat', sans-serif;
/* titre secondaire */
$font__main : 'Poppins', sans-serif;

$font__principal :'Montserrat', sans-serif;
$font__secondaire :'Poppins', sans-serif;
$font__paragraphe_1 :'Roboto', sans-serif;
$font__paragraphe_2 :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

