.carte__titre{
    font-size: 1.4rem;
    padding-bottom: 5px;
    border-bottom: 2px solid $color__carte__bordure;
}

.carte__code{
    font-size: 1rem;
}

.carte__description{
    font-size: 0.9rem;
}