.cours{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cours__carte{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 0 20px;
    border-radius: 10px;
    transition: 0.5s;
    width: 100%;
    
    h2{
        color: $color__texte__defaut;
        text-align: left;
    }

    p{
        margin: 5px 0;
    }

    p:nth-of-type(1), .cours__carte p:nth-of-type(2){
        font-weight: bold;
    }

    @media screen and (min-width: $largeur__media-tablette){
        width: 40%;
        margin: 10px;
    }
    @media screen and (min-width: $largeur__media-desktop){
        width: 28%;
        margin: 20px;
    }

    border: 2px solid rgb(244, 244, 255);
    background-color: #b7b6af;
}

.cours__carte:nth-of-type(even){
    background-color: #cecdc5;
}

.cours__carte:hover{
    box-shadow: 5px 10px 15px rgba(233, 233, 233, 0.6);
    border-radius: 0px;
    transition: 0.5s;
}

