.site__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.5rem, 2vw, 1.2rem);
    section{
        display: flex;
        flex-direction: row-reverse;

        > *{
            display: flex;
            justify-content: center;
            padding: 1rem 0;
            width: 33%;
            line-height: 2;
        }
    }

    .footer__menu {
        padding: 0;
        list-style-type: none;
        a{
            display: flex;
            align-items: center;
    
            svg{
                padding-right: 10px;
            }
        }
    }

    > p{
        text-align: center;
        padding: 2rem 0;
    }

    .menu{
        margin-left: 10px;
    }
}