.galerie {
    display: flex;
    justify-content: center;
    width: 95%;
        @media screen and (max-width:$largeur__media-tablette) {
            margin-right: 20px;
            width: 85%;
        }
}