.site__main{
    display: flex;
    flex-direction: column;
    background-color: $color__colorbackground-formation;
    h2{
        margin-left: 20px;
    }
    p, h3{
        margin: 0;
        padding: 0 20px 20px 20px;
    }
    h3{
        font-size: clamp(0.8rem, 2vw, 1.4rem);
    }
    h3:first-of-type{
        padding-top: 20px;
    }

    .article__contenu{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        @media screen and (max-width: $largeur__media-tablette) {
            flex-direction: column;
            align-items: center;
        }
    }

    .menu-categorie_cours-container{
        display: flex;
        margin-top: 10px;
        li{
            margin: 3px;
            border-radius: 4px;
        }
    }

    .ordre-cours{
        background-color: $color__bouton__background;
        padding: 10px;
        color: $color__bouton__color;
        

        &:hover{
            background-color: $color__bouton__background--hover;    
            color: $color__bouton__color--hover;
        }
    }

    .atelier{
        display: inline-block;
    }
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;

    h1{
        color: rgb(20, 20, 20);
        text-shadow: 2px 2px white;
    }
}