#chk-burger{
    display: none;
}

#chk-burger:checked ~ #burger{
    transform: rotate(90deg);
}

#burger{
    position: absolute;
    top: 0px;
    left: 0;
    
    transition: transform 0.3s;

    @media screen and (min-width: $largeur__media-tablette){
        display: none;
    }

    svg{
        color: $color__texte__icones;
    }
}
#chk-burger:checked ~ .menu-principal-container{
    display: block;
    animation-duration: 1s;
    animation-name: glisser;
}

#chk-burger:checked ~ .menu-principal{
    display: block;
    
}

.menu-principal-container{
    display: none;
    overflow: hidden;
    padding: 20px 0 0;
    transition: 0.5s;
    @media screen and (min-width: $largeur__media-tablette){
        display: block;
    }
}

@keyframes glisser {
    from {
        height: 0;
        transform: translateX(-200px);
    }

    to {
        height: 100%;
        transform: translateX(0);
    }
}

.menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu-item{
    margin: 0;
    a{
        margin: 0;
        display: block;
        padding: 3px;
        text-decoration: none;
        &:hover{
            background-color: $color__background-link-hover;
        }
    }
}