/* -------------
Navigation categorie cours
---------------- */
.menu-categorie_cours-container{
    .menu{ //ul
        display: flex;
        .menu-item{ // li
            margin: 0 10px;
            background-color: $color__bouton__background;
            a{
                color: $color__bouton__color;
            }
            &:hover{
                background-color: $color__bouton__background--hover;
                a{
                    color: $color__bouton__color--hover;
                }
            }
        }
        .current-menu-item{
            background-color: $color__bouton__background--current;
            a{
                color: $color__bouton__color--current;
            }
        }
    }
}