.recherche{
    position: relative;
    width: 80%;
    margin-bottom: 20px;
    &__input{
        &:focus{
            background-color: rgba($color: #000000, $alpha: 0.2);
            transition: 0.25s;
        }
        transition: 0.25s;
        padding: 15px 5px;
        height: 23px;
        border: none;
        outline: none;
        font-style: italic;
        background-color: $color__colorbackground-recherche;
        width: 100%;
        border-radius: 5px;
    }

    &__bouton{
        padding: 0;
        background-color: transparent;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        outline: none;
        border: none;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        svg{
            color: $color__texte__recherche;
            width: 100%;
            height: auto;
        }
    }
}